body {
  margin: 0px;
  padding: 0px;
}
section {
  text-align: center;
  background-color: aqua;
}
.main_nav {
  text-align: center;
  background-color: darkcyan;
}
.container_page {
  display: flex;
  justify-content: row;
}
.up {
  background-color: blue;
}
.down {
  background-color: blueviolet;
}
.my_flux {
  background-color: brown;
}